<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIZZPARK Image Converter</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Pretty-Registration-Form.css') }}">
    
</head>

<body>
    <div class="row register-form">
        <div class="col-md-8 col-md-offset-2">
            <form id="upload-form" class="form-horizontal custom-form" action="/upload" method="post" enctype="multipart/form-data">
                <img src="{{ url_for('static', filename='assets/img/logo.png') }}" width="30%">
                <br>
                <h1>BIZZPARK App - Bild Konvertierung</h1>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="dropdown-input-field">Gebäudenummer </label>
                    </div>
                    <div class="col-sm-4 input-column">
                        <select class="form-control" name="building_id" id="building">
                            <optgroup label="Bitte auswählen">
                                <option value="01" selected="">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <label class="control-label" for="name-input-field">Unternehmen </label>
                    </div>
                    <div class="col-sm-4 input-column">
                        <input class="form-control" type="text" name="text_name" id="company">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-4 input-column">
                        <input type="file" accept="image/*" required="" multiple="" name="file[]">
                    </div>
                </div>
                <div class="form-group"></div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" required="">Ich bestätige, dass ich alle notwendigen Rechte an verwendeten Bildern besitze oder mir entsprechendes Einverständnis schriftlich eingeholt habe.</label>
                </div>
                <button class="btn btn-default submit-button" type="submit">Vorgang starten</button>
            </form>
        </div>
    </div>
    <script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 

    <script>
	$(document).ready(function() {
		var options = {
			success: showResponse
		};

		$("#upload-form").ajaxForm(options);
	});

	function showResponse(responseText, statusText, xhr, $form) {
		var building = $("#building").val();
		var company = $("#company").val();
		alert("status: " + statusText + "\nresponseText: \n" + responseText + "\nbuilding: " + building + "\ncompany: " + company);
		window.location = "/convert/" + building + "/" + company;
	}
    </script>
</body>


</html>
